@model RegisterViewModel

<div class="container mt-4">
   <form class="col-4 d-flex flex-column gap-2" method="post">
        <h1>Cadastrar</h1>
        <p>Já possui uma conta? <a asp-action="Login">Entre</a></p>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label asp-for="@Model.Username"></label>
            <input asp-for="@Model.Username" class="form-control form-control-lg">
        </div>
        <div>
            <label asp-for="@Model.Email"></label>
            <input asp-for="@Model.Email" class="form-control form-control-lg">
        </div>
        <div>
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" class="form-control form-control-lg">
        </div>
        <div>
            <label asp-for="@Model.PasswordConfirmation"></label>
            <input asp-for="@Model.PasswordConfirmation" class="form-control form-control-lg">
        </div>
        @if (TempData.ContainsKey("Error")) 
        {
            <p class="text-danger mt-2">@TempData["Error"]</p>
        }
        else if (TempData.ContainsKey("Success")) 
        {
            <p class="text-success mt-2">@TempData["Success"]</p>
        }
        <button type="submit" class="btn btn-lg btn-dark text-white align-self-start">Login</button>
   </form>
</div>