@model Entrega

<div class="container mt-4">
    <form class="row gap-4" method="post">
        <div class="col-5 d-flex flex-column gap-4">
            <h1 class="display-6 fs-3">Dados cadastrais</h1>
            <div class="d-flex flex-column  gap-2">   
                <input class="form-control form-control-lg" asp-for="@Model.Nome" placeholder="Nome">
                <span asp-validation-for="@Model.Nome" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column gap-2">
                <input class="form-control form-control-lg" asp-for="@Model.Sobrenome" placeholder="Sobrenome">
                <span asp-validation-for="@Model.Sobrenome" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column  gap-2">
                <input class="form-control form-control-lg" asp-for="@Model.Email" placeholder="Email">
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column gap-2">
                <input class="form-control form-control-lg" asp-for="@Model.Telefone" placeholder="Telefone">
                <span asp-validation-for="@Model.Telefone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-5 d-flex flex-column gap-4">
            <h1 class="display-6 fs-3">Endereço de entrega</h1>
            <div class="d-flex flex-column  gap-2">
                <input class="form-control form-control-lg" asp-for="@Model.Estado" placeholder="Estado">
                <span asp-validation-for="@Model.Estado" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column  gap-2">
                <input class="form-control form-control-lg" asp-for="@Model.Cidade" placeholder="Cidade">
                <span asp-validation-for="@Model.Cidade" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column gap-2">
                <input class="form-control form-control-lg" asp-for="@Model.Endereco" placeholder="Endereço">
                <span asp-validation-for="@Model.Endereco" class="text-danger"></span>
            </div>
        </div>
       <div class="col-12 d-flex gap-3">
        <a class="btn btn-danger" asp-action="Index" asp-controller="Carrinho">
            <i class="bi bi-chevron-left"></i>
            Voltar
        </a>
            <button class="btn btn-success" >
                Confirmar
                <i class="bi bi-chevron-right"></i>
            </button>
       </div>
    </form>
</div>